## EV Adoption Forecasting
As electric vehicle (EV) adoption surges, urban planners need to anticipate infrastructure needsâ€”especially charging stations. Inadequate planning can lead to bottlenecks, impacting user satisfaction and hindering sustainability goals.

**Problem Statement:** Using the electric vehicle dataset (which includes information on EV populations, vehicle types, and possibly historical charging usage), create a model to forecast future EV adoption. For example, predict the number of electric vehicles in upcoming years based on the trends in the data.

**Goal:** Build a regression model that forecasts future EV adoption demand based on historical trends in EV growth, types of vehicles, and regional data.

**Dataset:** This dataset shows the number of vehicles that were registered by Washington State Department of Licensing (DOL) each month. The data is separated by county for passenger vehicles and trucks.

- Date: Counts of registered vehicles are taken on this day (the end of this month). - 2017-01-31
2024-02-29
- County: This is the geographic region of a state that a vehicle's owner is listed to reside within. Vehicles registered in Washington
- State: This is the geographic region of the country associated with the record. These addresses may be located in other
- Vehicle Primary Use: This describes the primary intended use of the vehicle.(Passenger-83%, Truck-17%)
- Battery Electric Vehicles (BEVs): The count of vehicles that are known to be propelled solely by an energy derived from an onboard electric battery.
- Plug-In Hybrid Electric Vehicles (PHEVs): The count of vehicles that are known to be propelled from energy partially sourced from an onboard electric battery
- Electric Vehicle (EV) Total: The sum of Battery Electric Vehicles (BEVs) and Plug-in Hybrid Electric Vehicles (PHEVs).
- Non-Electric Vehicle Total: The count of vehicles that are not electric vehicles.
- Total Vehicles: All powered vehicles registered in the county. This includes electric vehicles.
- Percent Electric Vehicles: Comparison of electric vehicles versus their non-electric counterparts.

**Dataset Link:** https://www.kaggle.com/datasets/sahirmaharajj/electric-vehicle-population-size-2024/data

### Import Required Libraries

In [1]:
!pip install  joblib pandas numpy matplotlib seaborn  scikit-learn

Requirement already satisfied: joblib in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.5.1)
Requirement already satisfied: pandas in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.1)
Requirement already satisfied: numpy in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.1)
Requirement already satisfied: matplotlib in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.10.3)
Requirement already satisfied: seaborn in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.13.2)
Collecting scikit-learn
  Downloading scikit_learn-1.7.1-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (3.2.3)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.0-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.8 kB ? eta -:--:--
     -------------------------------- ----- 51.2/60.8 kB 890.4 kB/s eta 0:00:01
     -------------------------------------- 60.8/60.8 kB 814.7 kB/s eta 0:00:00
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: six>=1.5 in c:\users\lenovoi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading scikit_learn-1.7.1-cp311-cp311-win_amd64.whl (8.9 MB)
   ---------------------------------------- 0.0/8.9 MB ? eta -:--:--
    --------------------------------------- 0.1/8.9 MB 2.7 MB/s eta 0:00:04
   -- ------------------------------------- 0.5/8.9 MB 6.3 MB/s eta 0:00:02
   ----- ---------------------------------- 1.1/8.9 MB 8.9 MB/s eta 0:00:01
   -------- ------------------------------- 1.8/8.9 MB 10.5 MB/s eta 0:00:01
   ------------ --------------------------- 2.7/8.9 MB 11.4 MB/s eta 0:00:01
   --------------- ------------------------ 3.5/8.9 MB 13.3 MB/s eta 0:00:01
   -------------------- ------------------- 4.5/8.9 MB 13.7 MB/s eta 0:00:01
   ------------------------ --------------- 5.5/8.9 MB 14.7 MB/s eta 0:00:01
   ----------------------------- ---------- 6.6/8.9 MB 15.7 MB/s eta 0:00:01
   --------------------------------- ------ 7.4/8.9 MB 15.8 MB/s eta 0:00:01
   -------------------------------------- - 8.7/8.9 MB 16.8 MB/s eta 0:00:01
   ---------------------------------------  8.9/8.9 MB 17.3 MB/s eta 0:00:01
   ---------------------------------------- 8.9/8.9 MB 16.3 MB/s eta 0:00:00
Downloading scipy-1.16.0-cp311-cp311-win_amd64.whl (38.6 MB)
   ---------------------------------------- 0.0/38.6 MB ? eta -:--:--
   - -------------------------------------- 1.3/38.6 MB 27.2 MB/s eta 0:00:02
   -- ------------------------------------- 2.4/38.6 MB 30.9 MB/s eta 0:00:02
   ---- ----------------------------------- 4.2/38.6 MB 29.9 MB/s eta 0:00:02
   ------ --------------------------------- 6.0/38.6 MB 34.6 MB/s eta 0:00:01
   ------- -------------------------------- 7.1/38.6 MB 34.9 MB/s eta 0:00:01
   --------- ------------------------------ 9.2/38.6 MB 34.8 MB/s eta 0:00:01
   ----------- ---------------------------- 10.7/38.6 MB 36.3 MB/s eta 0:00:01
   ------------- -------------------------- 13.0/38.6 MB 38.6 MB/s eta 0:00:01
   -------------- ------------------------- 14.4/38.6 MB 38.6 MB/s eta 0:00:01
   ----------------- ---------------------- 16.7/38.6 MB 43.5 MB/s eta 0:00:01
   ------------------- -------------------- 19.0/38.6 MB 46.9 MB/s eta 0:00:01
   --------------------- ------------------ 20.7/38.6 MB 46.9 MB/s eta 0:00:01
   ------------------------ --------------- 23.4/38.6 MB 46.7 MB/s eta 0:00:01
   ------------------------- -------------- 24.5/38.6 MB 43.7 MB/s eta 0:00:01
   --------------------------- ------------ 26.9/38.6 MB 46.7 MB/s eta 0:00:01
   ------------------------------ --------- 29.4/38.6 MB 46.7 MB/s eta 0:00:01
   --------------------------------- ------ 32.1/38.6 MB 46.7 MB/s eta 0:00:01
   ------------------------------------ --- 35.0/38.6 MB 54.4 MB/s eta 0:00:01
   -------------------------------------- - 37.4/38.6 MB 54.7 MB/s eta 0:00:01
   ---------------------------------------  38.6/38.6 MB 50.4 MB/s eta 0:00:01
   ---------------------------------------  38.6/38.6 MB 50.4 MB/s eta 0:00:01
   ---------------------------------------- 38.6/38.6 MB 38.6 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.7.1 scipy-1.16.0 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\LENOVOI\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

### pip install pandas numpy matplotlib seaborn scikit-learn # global env

In [2]:
import joblib
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

### Load Dataset

In [3]:
# Load data
df = pd.read_csv("Electric_Vehicle_Population_By_County.csv")

### Explore and Understand the Data

In [11]:
df.head(15) # top 5 rows

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,2022-09-30,Riverside,CA,Passenger,7,0,7,460,467,1.5000
1,2022-12-31,Prince William,VA,Passenger,1,2,3,188,191,1.5700
2,2020-01-31,Dakota,MN,Passenger,0,1,1,32,33,3.0300
3,2022-06-30,Ferry,WA,Truck,0,0,0,"3,575","3,575",0.0000
4,2021-07-31,Douglas,CO,Passenger,0,1,1,83,84,1.1900
5,2018-05-31,Maui,HI,Passenger,1,0,1,59,60,1.6700
6,2017-11-30,Northampton,PA,Passenger,0,1,1,66,67,1.4900
7,2018-03-31,Nassau,NY,Passenger,1,0,1,37,38,2.6300
8,2020-03-31,DeKalb,IN,Passenger,1,0,1,1,2,6.9025
9,2019-01-31,Columbia,WA,Truck,0,0,0,"1,529","1,529",0.0000
10,2017-02-28,Maui,HI,Passenger,1,0,1,73,74,1.3500
11,2017-09-30,Orleans,LA,Passenger,0,1,1,45,46,2.1700
12,2018-12-31,Ramsey,MN,Passenger,1,0,1,41,42,2.3800
13,2020-11-30,Manassas,VA,Passenger,0,1,1,5,6,6.9025
14,2020-02-29,Montgomery,AL,Passenger,0,1,1,38,39,2.5600

Total 20819 data points and 10 features.

In [12]:
# no of rows and cols
df.shape

(20819, 10)

In [13]:
# Data Types, class and memory alloc
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20819 entries, 0 to 20818
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      20819 non-null  datetime64[ns]
 1   County                                    20819 non-null  object
 2   State                                     20819 non-null  object
 3   Vehicle Primary Use                       20819 non-null  object
 4   Battery Electric Vehicles (BEVs)          20819 non-null  object
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  20819 non-null  object
 6   Electric Vehicle (EV) Total               20819 non-null  object
 7   Non-Electric Vehicle Total                20819 non-null  object
 8   Total Vehicles                            20819 non-null  object
 9   Percent Electric Vehicles                 20819 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 1.6+ MB

As we could see, only Percent Eletric Vehicles is numeric.

In [7]:
df.isnull().sum()

Date                                         0
County                                      86
State                                       86
Vehicle Primary Use                          0
Battery Electric Vehicles (BEVs)             0
Plug-In Hybrid Electric Vehicles (PHEVs)     0
Electric Vehicle (EV) Total                  0
Non-Electric Vehicle Total                   0
Total Vehicles                               0
Percent Electric Vehicles                    0
dtype: int64

Missing values in County and State.

**Check if any column contain outliers.**

In [8]:
# Compute Q1 and Q3
Q1 = df['Percent Electric Vehicles'].quantile(0.25)
Q3 = df['Percent Electric Vehicles'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier boundaries
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print('lower_bound:', lower_bound)
print('upper_bound:', upper_bound)

# Identify outliers
outliers = df[(df['Percent Electric Vehicles'] < lower_bound) | (df['Percent Electric Vehicles'] > upper_bound)]
print("Number of outliers in 'Percent Electric Vehicles':", outliers.shape[0])

lower_bound: -3.5174999999999996
upper_bound: 6.9025
Number of outliers in 'Percent Electric Vehicles': 2476

### Data Preprocessing

Basic Data Cleaning

In [14]:
# Converts the "Date" column to actual datetime objects
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Removes rows where "Date" conversion failed
df = df[df['Date'].notnull()]

# Removes rows where the target (EV Total) is missing
df = df[df['Electric Vehicle (EV) Total'].notnull()]

# Fill missing values
df['County'] = df['County'].fillna('Unknown')
df['State'] = df['State'].fillna('Unknown')

# Confirm remaining nulls
print("Missing after fill:")
print(df[['County', 'State']].isnull().sum())

df.head(15)

Missing after fill:
County    0
State     0
dtype: int64

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,2022-09-30,Riverside,CA,Passenger,7,0,7,460,467,1.5000
1,2022-12-31,Prince William,VA,Passenger,1,2,3,188,191,1.5700
2,2020-01-31,Dakota,MN,Passenger,0,1,1,32,33,3.0300
3,2022-06-30,Ferry,WA,Truck,0,0,0,"3,575","3,575",0.0000
4,2021-07-31,Douglas,CO,Passenger,0,1,1,83,84,1.1900
5,2018-05-31,Maui,HI,Passenger,1,0,1,59,60,1.6700
6,2017-11-30,Northampton,PA,Passenger,0,1,1,66,67,1.4900
7,2018-03-31,Nassau,NY,Passenger,1,0,1,37,38,2.6300
8,2020-03-31,DeKalb,IN,Passenger,1,0,1,1,2,6.9025
9,2019-01-31,Columbia,WA,Truck,0,0,0,"1,529","1,529",0.0000
10,2017-02-28,Maui,HI,Passenger,1,0,1,73,74,1.3500
11,2017-09-30,Orleans,LA,Passenger,0,1,1,45,46,2.1700
12,2018-12-31,Ramsey,MN,Passenger,1,0,1,41,42,2.3800
13,2020-11-30,Manassas,VA,Passenger,0,1,1,5,6,6.9025
14,2020-02-29,Montgomery,AL,Passenger,0,1,1,38,39,2.5600

Remove Outliers: Cap the values to the IQR bounds

In [15]:
# Cap the outliers - it keeps all the data while reducing the skew from extreme values.

df['Percent Electric Vehicles'] = np.where(df['Percent Electric Vehicles'] > upper_bound, upper_bound,
                                 np.where(df['Percent Electric Vehicles'] < lower_bound, lower_bound, df['Percent Electric Vehicles']))

# Identify outliers
outliers = df[(df['Percent Electric Vehicles'] < lower_bound) | (df['Percent Electric Vehicles'] > upper_bound)]
print("Number of outliers in 'Percent Electric Vehicles':", outliers.shape[0])

Number of outliers in 'Percent Electric Vehicles': 0